.mvls-header {
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 100;
  background: #fff;
}

.mvls-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 6px;
  font: arial;
}

@media (min-width: 720px) {
  .mvls-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mvls-header .mvls-container {
  padding: 0 12px;
}

.mvls-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 48px;
}

.mvls-nav .mvls-title {
  font-size: 1.5rem;
  margin-right: 10px;
}

.mvls-nav a {
  font-size: 0.875rem;
  margin-left: 20px;
  color: #4299e1;
  text-decoration: none;
  position: inherit;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
  background-color: black;
}

.mvls-main {
  padding-top: 51px;
}

.mvls-product-list {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.mvls-product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: #fff;
  margin: 15px;
  width: 280px;
}

.mvls-product .mvls-poster {
  width: 100%;
  height: 280px;
  object-fit: cover;
  background: url(no-poster.jpg) 0px 0px no-repeat;
}

.mvls-product-body {
  padding: 1rem 1.5rem;
  text-align: center;
}

.mvls-product .mvls-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mvls-product .mvls-name {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mvls-product .mvls-price {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mvls-product .mvls-cinema-count {
  font-size: 1rem;
  color: #4a5568;
}

.mvls-product-footer {
  padding: 15px 15px 30px;
  text-align: center;
}

.mvls-btn {
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
  background-color: #4299e1;
}

.mvls-btn-retail {
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
  background-color: #13222e;
}

.mvls-btn.mvls-btn-products,
.mvls-btn.mvls-btn-cinemas {
  padding: 0.5rem 3.5rem;
  text-decoration: none;
}

.mvls-fullpage-text {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 51px);
  width: 100%;
}

.mvls-fullpage-text > p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #606f7b;
  margin: 2rem;
  text-align: center;
}

@media (min-width: 720px) {
  .mvls-fullpage-text > p {
    font-size: 1.875rem;
  }
}

/* detailspage */
.mvls-product-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mvls-product-details {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: #fff;
  margin: 15px;
  width: 280px;
  margin-top: 60px;
}

@media (min-width: 720px) {
  .mvls-product-details-wrapper {
    padding: 0.5rem 1rem;
  }

  .mvls-product-details {
    flex-direction: row;
    width: 100%;
  }
}

.mvls-product-details .mvls-product-details-poster {
  display: flex;
  align-self: center;
  min-width: 280px;
  max-width: 280px;
  height: 280px;
  object-fit: cover;
  background: url('./no-poster.jpg') 0px 0px no-repeat;
}

.mvls-product-details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.mvls-product-details-info h2 {
  margin: 8px 0;
}

.mvls-product-details-info p {
  margin: 4px 0;
}

.mvls-product-details-info p span {
  font-weight: bold;
}

.mvls-product-cinemas {
  padding: 0.5rem 1rem;
}

.mvls-product-cinema {
  border-radius: 0.25rem;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

.mvls-product-admin h1 {
  padding: 0;
}

.mvls-product-cinema p:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mvls-product-cinema p span {
  border: 1px solid #777;
  border-radius: 1rem;
  background-color: #ddd;
  padding: 5px 10px;
  margin: 5px 10px 5px 0;
  white-space: nowrap;
}

/* login page */
.login-form {
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.login-form input[type='password'],
.login-form input[type='number'],
.login-form input[type='address'],
.login-form input[type='text'] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.login-form input[type='submit'] {
  width: 100%;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

pl {
  color: #cc2a2a;
}
/*admin form page*/
.mvls-form input[type='text'],
.mvls-form textarea,
.mvls-form input[type='number'] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.mvls-form textarea.has-error,
.mvls-form input.has-error {
  border: 1px solid #dc3545;
}

.mvls-btn.mvls-btn-form {
  margin-right: 15 px;
  margin-top: 15px;
  margin-left: 15px;
  border: 1px solid #4299e1;
}

.mvls-btn.mvls-btn-form[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (min-width: 720px) {
  .mvls-form .mvls-form-col {
    flex: 0 0 49%;
    max-width: 49%;
  }

  .mvls-form label {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .mvls-form .mvls-form-input-group {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.mvls-form .mvls-checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mvls-form .mvls-checkbox-group label {
  flex: 0 0 50%;
  max-width: 50%;
}

.mvls-alert-error {
  color: red;
}

/* admin table */
.mvls-alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.mvls-alert.mvls-alert-success {
  color: #e6ece7;
  background-color: #26472e;
  border-color: #000000;
}

.mvls-alert.mvls-alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.mvls-table-loading {
  text-align: center;
}

.mvls-form .mvls-form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mvls-form .mvls-form-col {
  width: 100%;
  margin-bottom: 1rem;
}

.mvls-form label {
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  line-height: 1.5;
}

.mvls-table {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.mvls-cart table {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.mvls-table table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.mvls-table table th,
.mvls-table table td {
  border-top: 1px solid #999;
  padding: 0.75rem;
}

.mvls-table table thead th {
  border-bottom: 2px solid #999;
  background-color: rgba(0, 0, 0, 0.075);
  text-align: left;
}

.mvls-table table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.mvls-table table .mvls-table-link {
  color: #1a0dab;
  cursor: pointer;
  text-decoration: underline;
}

.mvls-table table tbody tr td.mvls-no-data {
  text-align: center;
  padding: 32px 0;
  color: rgba(0, 0, 0, 0.25);
}

/*cart*/
.cart-total-title {
  font-weight: bold;
  font-weight: bold;
  font-size: 1.5em;
  font-size: 1.5em;
  color: black;
  color: black;
}

.cart-total {
  text-align: end;
  text-align: end;
  margin-right: 10px;
  margin-top: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
  margin: 20px;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  margin: 20px;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
  margin: 20px;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  margin: 20px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;

  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

.btn-primary {
  color: white;
  background-color: #56ccf2;

  border-radius: 0.3em;
  font-weight: bold;
  margin-right: 15 px;
  margin-top: 15px;
  margin-left: 15px;
  border: 1px solid #4299e1;
}
.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

/*map addition*/
.mapouter {
  position: relative;
  text-align: right;
  height: 400px;
  width: 900px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 900px;
}

.mvls-movie-admin h1 {
  padding: 0;
}
